
@{
    ViewBag.Title = "Index";
}

<h2>Benvenuto Dipendente</h2>

<p>Cosa vuoi fare?</p>

@Html.ActionLink("Registra Utente e Prenotazione", "AggiungiUtenteEPrenotazione")
@Html.ActionLink("Aggiungi Servizi", "AggiungiServizi")

