@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Benvenuti a Hotel Smargiasso</h1>
        <p class="lead">Questo portale è ad esclusivo utilizzo dei dipendenti</p>
    </section>

    <div class="row my-5">
        <section class="col-md-4" aria-labelledby="memorandum">
            <h2 id="gettingStartedTitle">Memorandum</h2>
            <p>
                Ricorda sempre di essere gentile e disponibile con i clienti e di non insistere per le mance.
            </p>
            <p>@Html.ActionLink("Effettua Login »", "Index", "Auth",null,  new { @class = "btn btn-outline-dark" })</p>
           
        </section>
        <section class="col-md-4" aria-labelledby="features">
            <h2 id="librariesTitle">Ora Con Più Funzionalità</h2>
            <p>Questo nuovo portale per dipendenti mette a disposizione molte più funzionalità di quello precedente, con anche un leggero miglioramento grafico.</p>
            <p><a class="btn btn-outline-dark" href="#">Scopri più &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Per Info</h2>
            <p>Se c'è qualche richiesta specifica, contattate l'assistenza Dipendenti a questo link. Aprite un nuovo ticket e sperate che vi rispondano.</p>
            <p><a class="btn btn-outline-dark" href="#">Apri Ticket &raquo;</a></p>
        </section>
    </div>
</main>